body {
  --pf-global--BackgroundColor--dark-100: #0b3c6d;
  --pf-global--Color--100: #001c38;

}

.pf-c-nav__list .pf-c-nav__link {
  --pf-c-nav__list-link--Color: #0b3c6d;
  --pf-c-nav__list-link--m-current--Color: #001c38;
}

.pf-c-nav__simple-list .pf-c-nav__link {
  --pf-c-nav__simple-list-link--Color: #0b3c6d;
  --pf-c-nav__simple-list-link--m-current--Color: #001c38;
}

.brand {
  height: 50px !important;
  padding-top: 5px !important;

}

#spinner_screen {
  background-color: var(--pf-global--Color--100) !important;
}

#spinner_screen svg {
  background: var(--pf-global--Color--100) !important;
}

#spinner_screen img.brand {
  height: 80px !important;
  margin-bottom: 50px;
}

#spinner_screen p {
  color: #c3c3c3;
}
